<!doctype html>

<title>React Brown Bag</title>

<h1>Exercise <%= exercise %></h1>

<div id="app-container"></div>

<script src="/js/vendor.bundle.js"></script>
<script src="/js/styles.bundle.js"></script>
<script src="/js/ex<%= exercise %>.bundle.js"></script>
