<!doctype html>

<title>React Brown Bag</title>

<div id="app-container"></div>

<script src="/js/vendor.bundle.js"></script>
<script src="/js/styles.bundle.js"></script>
<script src="/js/test.bundle.js"></script>
